DATABASE_URL="postgresql://postgres.mgxqbkfiqfmtydydhfgl:tu_password_aquí@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
NEXT_PUBLIC_SUPABASE_URL=https://mgxqbkfiqfmtydydhfgl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=tu_clave_anon_aquí
